
@{
    ViewBag.Title = "RazorView";
}

<h2>RazorView</h2>
<div>
    @{ 
        for (int counter = 1; counter <= 5; counter++)
        {
            <div>@counter</div>
        }

      }
    </div>        


