<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
      <connectionString>
        <add name="WPFConnString" connectionString="integrated security=true;initial catalog=sqlpractice;data source=DESKTOP-AKGKCCF"/>
      </connectionString>
    </startup>
</configuration>