.p1
{
	color:red;
	width:11em;
	border:1px solid #000000;
}
.p2
{
	color:blue;
	width:11em;
	border:1px solid #00FF00;
	word-wrap:break-word;
}
.p3
{
color:orange;
	width:11em;
	border:1px solid #00FFFF;
	word-wrap:normal;
}