
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Print Igate", "PrintIgate", "Home")
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
@Html.ActionLink("Print Id", "PrintId", "Home")
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
@Html.ActionLink("Print Name", "PrintName", "Home")
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
@Html.ActionLink("Dispaly Name", "Display", "Home")
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;